/* Combined CSS */
@import url('https://use.typekit.net/tqe2ncl.css');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./pic/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "Tilt Neon", sans-serif;
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    cursor: url('assets/img/goog2.png') 16 16, auto;
}

.hero {
    background-image: url('assets/img/WhiteWall.jpeg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: rgb(255, 255, 255);
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-image {
    width: 35%;
    height: auto;
    margin-bottom: 0px;
}

.display-1 {
    font-size: 7.5rem;
    font-weight: bold;
    color: transparent;
    font-family: "Marvin", sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.display-1 span {
    animation: animate 3s linear infinite;
    animation-delay: calc(0.3s * var(--i));
}

@keyframes animate {
    0% {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 60px #00b3ff,
            0 0 80px #00b3ff,
            0 0 100px #00b3ff,
            0 0 200px #00b3ff,
            0 0 400px #00b3ff;
    }

    30%,
    70% {
        color: #fff;
        filter: blur(2px) hue-rotate(360deg);
        text-shadow: 0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 60px #00b3ff,
            0 0 80px #00b3ff;
    }

    100% {
        color: transparent;
        box-shadow: none;
        filter: blur(2px) hue-rotate(2deg);
    }
}

header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li:first-child {
    margin-left: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    font-family: sans-serif;
    font-size: 20px;
}

nav a:hover {
    background-color: #495057;
    border-radius: 4px;
}