/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "bodega-serif", sans-serif;
  color: #fff;
}

/* Header Styles */
.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  /* Adjusted for better layout control */
  align-items: center;
  padding: 1rem 2rem;
  /* Added padding for space */
}

.logo-link {
  cursor: pointer;
  position: fixed;
  top: 12px;
  left: 12px;
}

.logo {
  width: 50px;
  /* Ensures the logo fits within the parent width */
  height: auto;
}

.menu-button {
  background-color: transparent;
  color: white;
  font-family: "Anton", sans-serif;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 3rem;
}

/* Menu Page */
.menu-page {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 50, 0.9);
  z-index: 10;
  text-align: center;
  padding-top: 8%;
  color: #dcdcdc;
}

.menu-page a {
  display: block;
  margin: 1rem 0;
  font-size: 5rem;
  text-decoration: none;
  color: #dcdcdc;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu-page a:hover {
  color: #ffff99; /* Light yellow on hover */
  transform: scale(1.3); /* Slightly enlarge the text on hover */
}

/* Hero Section Styles */
.hero {
  background: url("/assets/images/concrete.webp") no-repeat fixed center/cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blucopy-image {
  width: calc(80vw);
  height: auto;
  animation: bounce 3.5s ease-in-out 1;
  max-width: 600px;
}

.hero-name {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 2rem;
  justify-content: center;
}

.felix-image,
.morelo-image {
  width: 47%;
  height: auto;
}

/* Animation */
@keyframes bounce {
  0% {
    transform: translateY(-1000px);
  }

  25% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-60px);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-40px);
  }

  70% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

/* About Section Styles */
.about-section {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.about-section h2 {
  font-size: 4.5rem;
  margin-bottom: 2rem;
  font-family: "Anton", sans-serif;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  max-width: 1200px;
  width: 100%;
}

.about-content h3 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

.about-content p {
  margin-bottom: 1rem;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: justify;
}

/* CSS for Articles Section */
.articles-section {
  padding: 20px;
  background-color: #f15a5a;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.articles-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.article-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.article {
  height: 250px;
  width: 150px;
  text-align: center;
  background-color: #fff;
  border: 5px solid #4e32eb;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.article:hover {
  transform: scale(1.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article p {
  padding: 10px;
  font-size: 13.5px;
  color: black;
}

/* Gallery Title Styling */
.gallery-title {
  font-family: "Anton", sans-serif;
  font-size: 9rem;
  color: black;
  text-align: center;
  position: relative;
  top: 50px;
  z-index: 2;
  margin-bottom: -80px;
}

/* Gallery and Spots Section Styles */
.gallery-section,
.cubes-section,
.spots-section {
  color: rgba(255, 255, 255, 0.8);
  background-color: black;
  max-width: 100%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.cubes-section {
  background-color: red;
}

.spots-section {
  background-color: green;
}

.photo-credit {
  position: absolute;
  top: -9px; /* Adjust this value to move the text up or down */
  left: 85px; /* Adjust this value to move the text left or right */
  color: white; /* Ensure the text is visible over the image */
  font-size: 1rem; /* Adjust the font size */
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
  padding: 5px;
  border-radius: 5px;
}

/* Contact Section Styles */
.contact-section {
  background-color: #88cfc4;
  color: #333;
  padding: 2rem;
  text-align: center;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section form input,
.contact-section form textarea {
  width: 100%;
  max-width: 80%;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.contact-section form button {
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.contact-section img {
  max-width: 30rem;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  margin-top: -25px;
}

.social-media-links,
.payment-links {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 10px;
}

.social-media-links img,
.payment-links img {
  height: 50px;
  width: auto;
}

.about-content p {
  font-size: 1.5rem;
}

.hero-left .felix-image,
.hero-left .morelo-image {
  width: 100%;
  max-width: 30rem;
}

@media (max-width: 768px) {
  .gallery-title {
    font-size: 6rem;
    top: 35px;
  }
}

footer {
  color: black;
}
